**/clipboard_history.txt
**/clipboard_history.json

**/venv/*

ClipboardHistory/ClipboardHistory.xcodeproj/project.xcworkspace/xcuserdata/*
ClipboardHistory/ClipboardHistory.xcodeproj/project.xcworkspace/xcshareddata/*
ClipboardHistory/ClipboardHistory.xcodeproj/xcuserdata/*