<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClipboardHistory.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6072ABB62BF3157A0091E218</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6072ABCC2BF3157B0091E218</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6072ABD62BF3157B0091E218</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
